n8n_minutes of meeting.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -16
      ],
      "id": "9a7907a4-32ee-4ffa-862f-57b50149fd88",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1d71IIK4BHRmxHKh0tk1APn9eFJF2x2qTk6938qNpFgo/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -240,
        -16
      ],
      "id": "d7935a1b-bea9-40b2-bf7e-4001e79b2b4f",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SgtZJqKn8scsHlnr",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-pro-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-pro-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Please act as a professional meeting assistant. Based on the following raw text from a meeting, generate a concise and structured \"Minutes of Meeting\". The output should include:\n1.  A clear and concise summary of the key discussion points.\n2.  A list of action items with the assigned person (if mentioned).\n3.  A list of key decisions made.\n\nHere is the raw text:\n{{ $items(\"Get a document\")[0].json.content }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        -16
      ],
      "id": "5b5aadd3-0933-424e-bfc3-32e41cad307f",
      "name": "Message a model",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "3MgYXuHttoGyBizu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "prerna.40.sharma@gmail.com",
        "subject": "Minutes of Meeting",
        "message": "=<h3>Hi Team,</h3> <p>Here are the minutes from our recent meeting, generated by Gemini:</p> <pre>{{ $items(\"Message a model\")[0].json.text}}\n</pre> <p>Best regards,<br>Automated Assistant</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        -16
      ],
      "id": "e18e4d42-000b-4842-ac47-2feec47c3ab3",
      "name": "Send a message",
      "webhookId": "b37e1faf-bc8b-445b-8063-1985dd3fe047",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZIduvYWuoZzLTLbq",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aec9b9ed-f2c0-4387-92a7-f054ffda46fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16f21e979d009522c102ce558b4d7a1743a0777567feb60bdf218243c30d10c9"
  },
  "id": "lAQXUHFefxU6VHyD",
  "tags": []
}